# Application
NODE_ENV=production
APP_PORT=3000

# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=chiper
DB_PASSWORD=root
DB_NAME=chiper

# For Docker Compose
# Uncomment these when using docker-compose
# DB_HOST=mysql
# DB_USER=chiper
